<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        section { 
          display: block;
          border: 1em;
        }
        table {
            width: 100%;
          }
        </style>
    <meta charset="UTF-8">
    <title>Define Values</title>
</head>
<body>
    <form action="/inputSynergies" method="get" class="details">
        
        
        <table border="1px"> 
            <section align="center"> 
            <tr> 
            
               <th></th>
                {% for n in range(1, nAgents + 1) %}
                <th> Agent {{ n }}</th> 
                {% endfor %}
                
            </tr>

            {% for m in range(1, nGoods + 1) %}
            <tr> 
                <th>  Good {{ m }} </th> 
                {% for n in range(1, nAgents + 1) %}
                <td>
                <form>    <input type="text" {{ n }} placeholder="insert value of Good {{m}} to Agent {{ n }}"> </form>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            
            </section>
            

        </table>

        
        
        <input type="submit" Label="Go!">
   
    </form>


    <br>
    <br>
<div class="container"></div>
   <script>
     const Good_data = JSON.parse({{Good_data|tojson}});
     console.log(Good_data);
     document.querySelector(".container").innerHTML = JSON.stringify(Good_data, null, 2);
   </script>
     
</body>
</html>